@import "tailwindcss";

#root{
  padding: 2rem;
  color: #f2e9e4;
  font-family:'Trebuchet MS';
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: #f2e9e4;
  font-size: 40;
  text-align: center;
}